body {
    margin: 0%;
    background-color: white;
}

header {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

article {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 25%;
    padding-right: 25%;
    text-align: justify;
    font-size: 1.4em;
}

h1 {
    font-weight: normal;
}

.title {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 0.2em;
    font-size: 5em;
    text-shadow: -0.05em 0em black;
    -webkit-text-stroke: 0.01em black;
}

.socials-container {
    padding: 2%;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 1.4em;
    text-align: center;
}

.socials-element {
    padding-left: 2.5%;
    padding-right: 2.5%;
    text-decoration: none;
}