article {
    font-size: 1.4em;
    padding-bottom: 10%;
    padding-left: 25%;
    padding-right: 25%;
    text-align: justify;
}

body {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    margin: 0%;
}

footer {
    text-align: center;
    padding: 2.5%;
}

h1 {
    font-family: Georgia;
    font-style: italic;
    font-weight: normal;
}

h5 {
    font-family: Georgia;
    font-weight: normal;
}

header {
    padding-bottom: 5%;
    padding-top: 5%;
    text-align: center;
}

.big-name {
    color: white;
    font-family: Georgia;
    font-size: 5em;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0.2em;
    text-shadow: -0.05em 0em black;
    -webkit-text-stroke: 0.01em black;
}

.project {
    border: 0.1em solid black;
    margin-bottom: 5%;
    margin-top: 5%;
    padding: 1.5em;
}

.project-images {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.75em 0.75em
}

.project-title {
    font-family: Georgia;
    font-style: italic;
    text-decoration: none;
}

.socials-container {
    font-family: Georgia;
    font-size: 1.4em;
    font-style: italic;
    padding: 2%;
    text-align: center;
}

.socials-element {
    padding-left: 2.5%;
    padding-right: 2.5%;
    text-decoration: none;
}
