a {
    color: rgba(0, 0, 0, 1);
}

a:hover {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 12pt;
    min-height: 100vh;
    padding: 0 25vw 0 25vw;
}

footer {
    margin: 10vh 0 5vh 0;
    text-align: center;
}

h1 {
    font-family: serif;
    font-size: 24pt;
}

header {
    padding: 2vh 0 2vh 0;
}

li {
    display: inline;
	font-family: serif;
    margin: 0 2em 0 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

img {
    width: 100%;
}
