<!DOCTYPE html>
<html lang="en">
    <head>
        {{ partial "head_includes.html" }}
    </head>
    {{ partial "header.html" }}
    <style>
        main {
            padding: 20vh 0 0 0;
        }
    </style>
    <body>
        <main>
            {{ .Content }}
            <hr>
            <nav class="navbar" style="display:flex">
                {{ range site.Menus.contacts.ByWeight }}
                    <span class="nav-element" style="padding:0">
                        <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
                    </span>
                {{ end }}
            </nav>
        </main>
    </body>
    {{ partial "footer.html" }}
</html>
